body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/049/476/original/worldmaptransparent.jpg?1666289324);
  background-size: 100%;
}

footer {
  background-color: white;
  opacity: 0.8;
  margin: 20px;
  width: 180px;
  padding: 10px;
}

h1,
h2,
.app-tagline,
.current-information,
.measurements,
.middle-days {
  font-family: "New Tegomin", serif;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 55px;
  color: white;
  -webkit-text-stroke: 1.5px black;
}

h2 {
  text-transform: capitalize;
}

ul {
  list-style: none;
  margin-left: -30px;
  position: relative;
}

.app-tagline {
  color: black;
  opacity: 0.8;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.btn-primary {
  background-color: #749a8e !important;
  border-color: #749a8e;
}

.current-information {
  margin-left: 20px;
  text-transform: capitalize;
}

.degree-symbols {
  position: relative;
  margin-right: 0px;
}
.degree-symbols .active {
  color: black;
  cursor: default;
}
.degree-symbols .active:hover {
  text-decoration: none;
}

#hourly-forecast {
  text-align: center;
  background: rgba(211, 211, 211, 0.8);
  padding: 20px 0px;
}

#main-temperature {
  font-size: 60px;
}

.measurements {
  margin-top: 90px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin-top: 110px;
}

.suitcase-icon {
  color: white;
  -webkit-text-stroke: 1.5px black;
}

.weather-box {
  border: 2px solid;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
  width: 700px;
  margin-top: 20px;
  margin-bottom: 40px;
}
