a {
  text-decoration: none;
}

body {
  background: #749a8e;
  background: -webkit-linear-gradient(
      rgba(47, 72, 88, 0.7),
      rgba(116, 154, 142, 0.5)
    ),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/049/476/original/worldmaptransparent.jpg?1666289324");
  background: linear-gradient(rgba(47, 72, 88, 0.7), rgba(116, 154, 142, 0.5)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/049/476/original/worldmaptransparent.jpg?1666289324");
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: white;
  opacity: 0.7;
  margin: 0 auto;
  width: 180px;
  padding: 10px;
  display: block;
  margin-bottom: 20px;
  border-radius: 6px;
  text-align: center;
}

h1,
h2,
.app-tagline,
.current-information,
.measurements,
.forecast-days,
.forecast-temps {
  font-family: "New Tegomin", serif;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 55px;
  color: white;
  -webkit-text-stroke: 1.5px black;
}

h2 {
  text-transform: capitalize;
}

ul {
  list-style: none;
  margin-left: -30px;
  position: relative;
}

.app-tagline {
  color: black;
  opacity: 0.8;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.btn-primary {
  background-color: #749a8e !important;
  border-color: #749a8e;
}

.btn-primary:hover {
  background-color: #50797b !important;
  border-color: #50797b;
}

.btn-secondary {
  color: #749a8e;
  background-color: #ffffff !important;
  border-color: #749a8e;
}

.btn-secondary:hover {
  background-color: #50797b !important;
  border-color: #50797b;
}

.current-information {
  margin-left: 20px;
  text-transform: capitalize;
}

.degree-symbols {
  position: relative;
  margin-right: 0px;
}

.degree-symbols .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.degree-symbols .active:hover {
  text-decoration: none;
}

.forecast-days {
  text-align: center;
  opacity: 0.8;
}

.forecast-temps {
  text-align: center;
  color: gray;
  font-size: 13px;
}

#forecast {
  text-align: center;
  background: rgba(211, 211, 211, 0.8);
  padding: 15px 0px;
  margin-bottom: -10px;
}

#main-temperature {
  font-size: 60px;
}

.forecast-max-temp {
  color: #242021;
}

.measurements {
  margin-top: 90px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin-top: 110px;
}

span.btnIcon {
  padding-right: 7px;
}

.suitcase-icon {
  color: white;
  -webkit-text-stroke: 1.5px black;
}

.weather-box {
  display: block;
  margin: 0 auto;
  opacity: 0.9;
  max-width: 700px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0.5rem 1rem 1rem rgba(47, 72, 88, 1) !important;
}
